/* Additional styles used in Cell.js */



/* The contents should be centered vertically. */
.cellContents {
   position: relative;
   top: 50%;
	transform: translateY(-50%);
}

/* Some cells might need horizontal centering as well. */
.cellCenter {
	text-align: center;
	height: 100%;
}

/* When used as a title in line, the text should be centered in small resolutions.
In bigger ones, it will be overridden with float-right. */
.cellTitle {
	text-align: center;
}