/* Additional stylings used in Line.js */



/* Big buttons should be big and have space around them. */
.bigButton {
	height: 60px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}

/* They should have vibrant colors and react to being hovered over. */
.blue {
	background-color: #ccebff;
	border-color: #003d66;
	color: #003d66;
}
.blue:hover {
	background-color: #ffffff;
	border-color: #005c99;
	color: #005c99;
}
.green {
	background-color: #b3ffb3;
	border-color: #006600;
	color: #006600;
}
.green:hover {
	background-color: #e6ffe6;
	border-color: #009900;
	color: #009900;
}
.red {
	background-color: #ff9999;
	border-color: #660000;
	color: #660000;
}
.red:hover {
	background-color: #ffcccc;
	border-color: #990000;
	color: #990000;
}

/* Separator should be starkly visible on the background. */
.separator { border: 1px solid white; }

/* Separator title should be unostentatious but strong. */
.separatorTitle {
	text-transform: uppercase;
	font-size: 80%;
	font-weight: 500;
	margin-bottom: -0.8rem;
	margin-top: 15px;
	text-align: left;
}

/* Separator text should be plain. */
.separatorText {
	margin-top: -0.8rem;
	margin-bottom: 0;
	text-align: left;
	padding-left: 25px;
}

/* When it shows an error, separator text should look critical. */
.separatorError {
	color:red;
	font-weight: bold;
}

/* When it shows a result, separator text should be easily readable and take the form of a list. */
.separatorList {
	list-style: none;
	margin: 0;
	margin-top: -0.8rem;
	padding-left: 25px;
	text-align: left;
	font-size: 1.2rem;
}

/* When it shows a result, color priority should display neat squares of the appropriate color. */
.colorList {
	list-style: none;
	margin: 0;
	padding-left: 25px;
	text-align: left;
	font-size: 1.2rem;
	margin-bottom: -1rem;
}
.colorList > li {
	display: inline;
	margin-right: 1rem;
}
.colorList > li > div {
	display: inline-block;
	width: 5rem;
	height: 3rem;
	margin-bottom: 1rem;
	border-radius: 10px;
	background-clip: content-box;
	padding: 5px;
	border: 1px solid white;
}

/* Link to unhide hidden information should fit with the overall style. */
.hiddenLink {
	width: 100%;
	margin: 0;
	padding: 16px;
	cursor: pointer;
}
.hiddenLink > p {
	margin: 0;
}
.hiddenLink:hover {
	color: rgb(122, 202, 255);
	text-decoration: none;
}

/* Some results are displayed as category - color - text. */
.resultCategory {
	display: inline-block;
	margin: 0;
	font-weight: bold;
	vertical-align: middle;
}

.resultColor {
	height: 1.8rem;
	width: 1.8rem;
	border: 2px solid white;
	border-radius: 20px;
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}

.resultText {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}