/* Additional stylings used in Line.js */



/* Big buttons should be big and have space around them. */
.bigButton {
	height: 60px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}

/* They should have vibrant colors and react to being hovered over. */
.blue {
	background-color: #ccebff;
	border-color: #003d66;
	color: #003d66;
}
.blue:hover {
	background-color: #ffffff;
	border-color: #005c99;
	color: #005c99;
}
.green {
	background-color: #b3ffb3;
	border-color: #006600;
	color: #006600;
}
.green:hover {
	background-color: #e6ffe6;
	border-color: #009900;
	color: #009900;
}
.red {
	background-color: #ff9999;
	border-color: #660000;
	color: #660000;
}
.red:hover {
	background-color: #ffcccc;
	border-color: #990000;
	color: #990000;
}

/* Separator should be starkly visible on the background. */
.separator { border: 1px solid white; }

/* Separator title should be unostentatious but strong. */
.separatorTitle {
	text-transform: uppercase;
	font-size: 80%;
	font-weight: 500;
	margin-bottom: -0.8rem;
	margin-top: 15px;
	text-align: left;
}

/* Separator text should be plain. */
.separatorText {
	margin-top: -0.8rem;
	margin-bottom: 0;
	text-align: left;
	padding-left: 25px;
}

/* When it shows an error, separator text should look critical. */
.separatorError {
	color:red;
	font-weight: bold;
}

/* Lists should be easily readable and undecorated. */
.separatorList {
	list-style: none;
	margin: 0;
	margin-top: -0.8rem;
	padding-left: 25px;
	text-align: left;
}