@import '__variables.scss';

body {
    background-color: #666;
    color: #ddd;
    margin: 0;
    font-family: Arial;
}

button:focus { outline: none; }

.executable {
    cursor: pointer;
    &:hover { color: $c-executable; }
}

.hidden {
    display: none;
}