@import '_general.scss';

.bb {
   width: 100%;
   margin-top: 2.5%;
   margin-bottom: 2.5%;
}

button.super-button {
   height: 15%;
   padding: 0.5rem;
   font-size: 2rem;
   border-radius: 50px;
   border: 4px solid #333;
}

button:hover {
   background-color: rgb(184, 206, 177);
}

button.disabled {
   border-color: rgb(163, 37, 37);
   cursor: default;
   background-color: rgb(250, 52, 52);
}

button.toggler-off {
   background-color: #FFF;
   border-color: #BBB;
   color: #666;
   &:hover {
      background-color: #DDD;
   }
}

button.toggler-on {
   background-color: rgb(110, 186, 221);
   border-color: rgb(39, 39, 141);
   color: rgb(7, 7, 116);
   &:hover {
      background-color: rgb(157, 205, 228);
   }
}

p.info {
   font-size: 2rem;
   color: white;
   &.info-left { text-align: left; }
   &.info-center { text-align: center; }
}

div.info-block-container {
   width: 95%;
   margin: 2.5%;
   font-size: 2rem;
   text-align: center;
}

div.info-block-container-split {
   display: inline-block;
   width: 45%;
   margin: 2.5%;
   font-size: 2rem;
   text-align: center;
}

div.info-block {
   width: 15%;
   margin: 1%;
   display: inline-block;
   border-radius: 3px;
   border: 2px solid black;
}

div.info-block-shape {
   width: 40px;
   height: 40px;
   margin: 2px;
   display: inline-block;
   border-radius: 3px;
   border: 2px solid black;

   &.hidden { border: 1px dotted black; }
   &.full { background-color: #CCC; }
   &.gold { background-color: #FFAA00; }
}

div.block-row {
   margin: 0;
   margin-bottom: -13px;
   padding: 0;
}

span.color-box {
   display: inline-block;
   width: 25px;
   height: 25px;
   border: 3px solid black;
   margin: 0 10px;
}