/* Additional styles used in PlusMinus.js */



/* The plus and minus buttons should be square. */
.plusminusButton {
	width: 55px;
	height: 55px;
	border-radius: 15px; 
   font-weight: bold;
}

/* The +/- sign should be centered vertically and significant. */
.plusminusButtonText {
	margin-top: -12px;
	font-size: 40px;
}

/* The button should differ clearly between the on and off states. */
.plusminusButtonOn {
	background-color: #cccccc;
	color: #666666;
	border: 4px solid #666666;
	cursor: pointer;
}
.plusminusButtonOff {
	background-color: #666666;
	color: #333333;
	border: 4px solid #333333;
	cursor: default;
}

/* The value between the +/- buttons should be well visible and centered. */
.plusminusValue {
	font-family: Arial;
	font-size: 40px;
	display: inline;
	font-weight: bold;
	margin: 0 20px;
}