/* The general styles used throughtout the application. */



/* The application's overall container. */
body {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	background-color: black;
	color: white;
}

/* Shorthand classes for controlling elements' visibility. */
.inline { display: inline-block; }
.hidden { display: none; }
.invisible { visibility: hidden; }

/* Links should not be underlined at all times, but only when hovered over. */
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
	color: #990000;
}

/* A button not styled directly should still uphold the general look of the application. */
.anyButton { 
	width: 100%;
	font-size: 1.2rem;
	border-radius: 12px; 
	border: 3px solid black;
	font-weight: bold;
	cursor: pointer;
}

/* Clicked buttons should not display a frame around them. */
button:focus {
  outline: none;
}

/* Certain non-button elements should act like them and reflect that in the cursor. */
.pointer { cursor: pointer; }

/* Shorthand classes, sometimes useful when trying to debug CSS behavior. */
.bg1 { background-color: red; }
.bg2 { background-color: blue; }
.bg3 { background-color: yellow; }

/* Several icons are displayed using Font Awesome. */
.icon-large {
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 1em;
	line-height: 1em;
	font-size: 250%;
	text-shadow: 0.3px 0.3px 10px rgba(0, 0, 0, 0.9);
	color: white;
	cursor: pointer;
}
.icon-button {
	display: block;
	text-align: center;
	font-size: 250%;
	text-shadow: 0.3px 0.3px 10px rgba(0, 0, 0, 0.9);
	margin: auto;
}
.icon-large:hover { color: yellow; }
.icon-multi:hover { color: white; }


/* Row show/hide animations. */

.rowHidden { 
	animation-name: rowHiding;
	animation-duration: 0.5s;
	overflow: hidden;
	max-height: 0;
	transform: scaleY(0);
 }
 
 @keyframes rowHiding {
	from {max-height: 100px; transform: scaleY(1);}
	to {max-height: 0px; transform: scaleY(0);}
 }

 .rowShown { 
	 animation-name: rowShowing;
	 animation-duration: 0.5s;
	 overflow: hidden;
	 transform: scaleY(1);
  }
  
  @keyframes rowShowing {
	  from {max-height: 0px; transform: scaleY(0);}
	  to {max-height: 100px; transform: scaleY(1);}
  }