/* Additional styles used in MultiStateButton.js and MultiStateSubButton.js */



/* The general styling for the button background. */
.multiButton {
	display: inline-block;
	border: 4px solid #666666;
	color: #666666;
	background-color: #cccccc;
	width: 80%;
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 15px;
	height: 100%;
}

/* The central part doubles as a display (with the progress dots) and switches to list mode. */
div.multiButtonMain {
	padding: 2px 5px;
	font-size: 20px;
	color: black;
	display: inline-block;
	width: 74%;
	margin-top: 5px;
}
div.multiButtonMain > div {
	line-height: 15px;
	margin-bottom: 5px;
}
div.multiButtonMain > p {
	margin: 0;
	line-height: 1.5rem;
}

/* The 'next' and 'previous' buttons need to be properly positioned and highlight their contents on hover. */
div.multiButtonSide {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	width: 12%;
}
div.multiButtonSide > i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	line-height: 1rem;
	vertical-align: top;
}
div.multiButtonSide:hover > i {
	color: black;
}

/* The 'progress dot' itself should be small but easily visible. Only one at a time will be active and differ in background color. */
.multiButtonProgressDot {
	width: 10px;
	height: 10px;
	border-radius: 25px;
	border: 2px solid black;
	margin: 0 2px;
	display: inline-block;
	cursor: pointer;
	background-color: white;
}
.multiButtonProgressDotActive { background-color: black; }

/* Occham would be proud: the 'progress dot' actually doubles as a list item when the mode is switched. */
.multiListContainer {
	margin: auto;
	border: 4px solid #666666;
	width: 70%;
}

/* The items of the list should look similar to a context menu. */
.multiListItem {
	width: 100%;
	font-size: 20px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 0;
	padding: 10px;
	color: #666666;
	border: 0;
	background-color: #eeeeee;
}
.multiListItem:hover {
	color: black;
	background-color: #adc2eb;
}
.multiListItemChosen {
	color: black;
	background-color: #9cb4e4;
}

/* Random chance should be styled differently than normal multiState. */
/* COLORS SUBJECT TO CHANGE with proper tools. */
.randomChanceBar {
	width: 15%;
	height: 10px;
	margin: 0 -1px;
	display: inline-block;
	background-color: white;
	border: 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.randomChanceBarSlot0active {
	border-left: 2px solid black;
	border-radius: 25px 0 0 25px;
	/* background-color: red; */
	background-color: white;
}

.randomChanceBarSlot0inactive {
	border-left: 2px solid black;
	border-radius: 25px 0 0 25px;
	/* background-color: darkred; */
	background-color: #333;
}

.randomChanceBarSlot1active { background-color: white; }
.randomChanceBarSlot1inactive { background-color: #333; }
.randomChanceBarSlot2active { background-color: white; }
.randomChanceBarSlot2inactive { background-color: #333; }
.randomChanceBarSlot3active { background-color: white; }
.randomChanceBarSlot3inactive { background-color: #333; }

/* .randomChanceBarSlot1active { background-color: orange; }
.randomChanceBarSlot1inactive { background-color: rgb(163, 92, 4); }

.randomChanceBarSlot2active { background-color: yellow; }
.randomChanceBarSlot2inactive { background-color: rgb(119, 74, 35); }

.randomChanceBarSlot3active { background-color: greenyellow; }
.randomChanceBarSlot3inactive { background-color: rgb(14, 73, 14); } */

.randomChanceBarSlot4active { 
	border-right: 2px solid black;
	border-radius: 0 25px 25px 0;
	/* background-color: lightblue; */
	background-color: white;
 }
.randomChanceBarSlot4inactive {
	border-right: 2px solid black;
	border-radius: 0 25px 25px 0;
 	/* background-color: rgb(12, 12, 134);  */
	 background-color: #333;
}