/* Additional stylings used in YesNo.js */



/* Wrapper should create the slider effect. */
.yesNoWrapper {
	border: 4px solid white;
	border-radius: 20px;
	width: 50%;
	margin: auto;
	cursor: pointer;
	background-color: #333;
}

/* The button should look well in the application context. */
.yesNoWrapper > button {
	font-size: 1.2rem;
	font-weight: bold;
   cursor: pointer;   
	border-radius: 15px;
	border: 0;
	padding: 15px;
	height: auto;
	width: 75%;
}

/* There should be an instinctive coloration and distinction between the Yes and No states. */
.yesNoWrapperYes > button {
	border: 2px solid #248f24;
	color: #248f24;
	background-color: #ccffcc;
}
.yesNoWrapperYes { 
	text-align: right; 
	border: 4px solid #248f24;
}

.yesNoWrapperNo > button {
	border: 2px solid #cc3300; 
	color: #cc3300;
	background-color: #ffc6b3;
}
.yesNoWrapperNo {
	text-align: left;
	border: 4px solid #cc3300; 
}