/* Additional stylings used in Navbar.js */



/* The logo should be displayed properly in relation to the text and page borders. */
.navbarBrandImage {
	height: 50px;
	width: auto;
	margin-right: 10px;
	transform: translateY(-5%);
}
/* When appropriate, it should have a border fitting the navbar color. */
.navbarBrandImageBorder {
	border: 2px solid darkblue;
	border-radius: 5px;
}
/* The brand should look pretty, including a shadow. */
.navbarBrandText {
	color: white;
	font-size: 125%;
	text-shadow: 0.3px 0.3px 10px rgba(0, 0, 0, 0.9);
	font-weight: 600;
}
/* The brand should appear centered vertically. */
.navbarBrandContainer {
	transform: translateY(5%);
}

/* The 'about' and 'settings' buttons should not look like buttons, however. */
.nobutton {
	background-color: transparent;
	border: none;
}

/* The about section might move somewhere else, but for now it is styled through here. */
.panel {
	padding: 5px 5px 5px 25px;
}
.panel > p {
	margin-bottom: 3px;
	margin-left: 15px;
}
.panel > hr {
	margin-top: 5px;
	margin-bottom: 10px;
}
.panel > h3 {
	text-shadow: 0.3px 0.3px 10px rgba(0, 0, 0, 0.9);
}
/* Links should not be underlined at all times, but only when hovered over. */
.panel > p > a {
	text-shadow: 0.3px 0.3px 10px rgba(100, 0, 0, 0.9);
	/*color: rgb(94, 24, 17);
	text-decoration: underline;*/
}
.panel > p > a:hover {
	text-shadow: 0.3px 0.3px 10px rgb(255, 255, 255);
	color: white;
	text-decoration: none;
	/*color: navy;*/
}

.panel > strong {
	color: rgb(200, 200, 255);
}